
body {
  background-color: #352307;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  background-color: #946a36cc;
  padding: 0px;
  text-align: center;
  margin:0px;
}
h1 {
  color: rgba(56, 36, 9, 0.932);
  font-size: 140px;
  font-family:Lucida handwriting, cursive;
  text-align: center; 
}
div {
  width: 900px;
  padding: 50px;
  margin: 30px;
  display: inline-block;
  background-color:#946a36cc;
  display: block;
  margin: 0 auto;
}

p {
  color: rgb(189, 189, 189);
  font-size: 70px;
}
p1{
    font-family:arial;
    color: rgba(56, 36, 9, 0.932);
    font-size: 25px;
}
p3{
    font-family:arial;
    color: rgba(156, 156, 156, 0.932);
    font-size: 26px;
    text-align: center;

}
p4{
    font-family:arial;
    color: rgba(156, 156, 156, 0.932);
    font-size: 18px;
    text-align: center;

}
.button {
  background-color: :#926834cc;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {padding: 12px 28px;}
.botao-imagem img {
    margin-right: 10px; 
    width: 20px; 
.botao-imagem {
    display: inline-flex; 
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none; 
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
.button a {
    color: white;
}
